@if (item) {
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ item.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="image-wrapper">
      <img [src]="item.imageUrl || 'assets/placeholder-rect.jpg'" alt="{{ item.title }}" />
    </div>
    <div class="info">
      <h2>{{ item.title }}</h2>
      @if (item.price) {
        <div class="price">{{ item.price | currency:'USD':'symbol' }}</div>
      }
      @if (item.description) {
        <div class="description">{{ item.description }}</div>
      }
    </div>
    @if (slots.length) {
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-select [(ngModel)]="selectedSlot">
          @for (s of slots; track s) {
            <ion-select-option [value]="s">{{ s }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    <ion-button expand="block" color="primary" (click)="addToCart()">Add to Cart</ion-button>
  </ion-content>
}

@if (!item) {
  <ion-content>
    <p class="empty">Item not found.</p>
  </ion-content>
}

