<app-page-toolbar title="Profile"></app-page-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-avatar class="ion-margin-bottom">
      <img [src]="avatarUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>

    <ion-button expand="full" (click)="fileInput.click()">Upload Photo</ion-button>
    <ion-button expand="full" (click)="capturePhoto()">Take Photo</ion-button>
    <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden />

    @if (profile) {
      <ion-list>
        <ion-item>
          <ion-label>ID: {{ profile.id }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Display Name: {{ profile.displayName }}</ion-label>
        </ion-item>
      </ion-list>
    }

    <form (ngSubmit)="saveProfile()">
      <ion-item>
        <ion-label position="floating">Display Name</ion-label>
        <ion-input [(ngModel)]="displayName" name="displayName"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">
        {{ profile ? 'Update' : 'Create' }} Profile
      </ion-button>
    </form>

    @if (profile) {
      <ion-button color="danger" expand="full" (click)="deleteProfile()">
        Delete Profile
      </ion-button>
    }
  </div>
</ion-content>
