ion-content.admin {
  .preview-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
  }
}

ion-card.selected {
  border: 2px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
}
