ion-toolbar {
  display: flex;
  align-items: center;
}

app-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

app-search ion-searchbar {
  width: 100%;
  max-width: 400px;
}

ion-avatar {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
