<app-page-toolbar title="Home"></app-page-toolbar>

<ion-content [fullscreen]="true" class="home-content">
  <div class="gutter">
   @let topPicks = (topPicks$ | async);
@if (topPicks) {
  <app-offers-carousel title="Top picks for you" [cardType]="'rect'" [items]="topPicks"></app-offers-carousel>
}

@let topProviders = (topProviders$ | async);
@if (topProviders) {
  <app-offers-carousel title="Top providers" [cardType]="'circ'" [items]="topProviders"></app-offers-carousel>
}

@let trending = (trending$ | async);
@if (trending) {
  <app-offers-carousel title="Trending near you" [cardType]="'rect'" [items]="trending"></app-offers-carousel>
}

  </div>
</ion-content>
