<app-page-toolbar title="Home"></app-page-toolbar>
<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Orders Queue</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-order-queue [orders]="orders$ | async"></app-order-queue>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main View</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">  <div class="gutter">
   <!-- @let orders = (orders$ | async);
@if (orders?.length) {
  <div class="orders-grid">
    @for (order of orders; track order.id) {
      <app-order-card [order]="order"></app-order-card>
    }
  </div>
}
 -->
   @let topPicks = (topPicks$ | async);
@if (topPicks) {
  <app-offers-carousel title="Top picks for you" [cardType]="'rect'" [items]="topPicks"></app-offers-carousel>
}

@let topProviders = (topProviders$ | async);
@if (topProviders) {
  <app-offers-carousel title="Top providers" [cardType]="'circ'" [items]="topProviders"></app-offers-carousel>
}

@let trending = (trending$ | async);
@if (trending) {
  <app-offers-carousel title="Trending near you" [cardType]="'rect'" [items]="trending"></app-offers-carousel>
}

  </div> </ion-content>
  </div>
</ion-split-pane>
<!-- <ion-content [fullscreen]="true" class="home-content">

</ion-content> -->
