<app-page-toolbar title="Wishlist"></app-page-toolbar>

<ion-content [fullscreen]="true">
  <div class="wishlist-wrapper ion-padding">
    @let wishlist = (wishlist$ | async);
    @if (wishlist?.length) {
      <div class="wishlist-grid">
        @for (item of wishlist; track item.id) {
          <app-menu-card-rect [item]="item"></app-menu-card-rect>
        }
      </div>
    } @else {
      <div class="empty">No items in your wishlist yet. Tap the heart to add favorites.</div>
    }
  </div>
</ion-content>
