<app-page-toolbar title="Inbox"></app-page-toolbar>

<ion-content [fullscreen]="true">
  @for (msg of messages; track msg) {
    <div class="message" [class.own]="msg.senderId === currentUserId">
      <div class="bubble">
        <p>{{ msg.content }}</p>
        <small>
          {{ msg.timestamp | date: 'shortTime' }}
          @if (msg.senderId === currentUserId) {<span>{{ msg.isRead ? '✔✔' : '✔' }}</span>}
        </small>
      </div>
    </div>
  }
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
    <ion-button (click)="send()" fill="clear">Send</ion-button>
  </ion-item>
</ion-footer>
