
ion-tab-bar {
  --background: var(--ion-color-step-1000, #0e1111);
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  border-top: 0;
  padding-bottom: env(safe-area-inset-bottom);
}
